<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2012-06-07-removeM.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996001</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-25-new1.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998201</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-25-welcome-to-jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998201</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-28-Linux-Epelerror.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998201</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-08-vim_window_split.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998099</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-02-Termial_Prompt.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998099</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-10-Linux_Zip.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997998</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-10-Rsync_Examples.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997998</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-05-iTerm_Titlebar-Path.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997903</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-05-xargs-exec.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997903</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-08-terminal-wifi.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997801</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-11-nohup.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997801</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-20-Find-oldfiles.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.929977</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-21-cmake-install.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.929977</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-21-shell-sed1.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997599</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-23-video-clip-sony.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997599</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-29-sh-rmoveextension.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997599</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-30-Macaddresschange.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997497</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-31-Macupdate-terminal.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997497</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-01-movie-martion.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997402</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-01-opsnssl-randommacaddress.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997402</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-homebrew-automatic.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997301</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-remove_space.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997301</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-vaspgaussian-atomfix.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997199</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-05-vim-ctrlCcopy.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997199</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-29-RSC-Styleguide.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997098</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-03-gcc_installation.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998499</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-08-modulefile.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997098</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-13-cif2cell.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997098</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-27-archey.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997003</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-07-gcc-6.1.0.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92997003</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-25-hazel.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996901</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-20-SFmono-Font.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996901</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-03-GCC49-release.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.929968</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-30-Font_Linux.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.929968</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-31-Ubuntu_PS1.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998499</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-31-Ubuntu_dpkg.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996699</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-01-Mac_terminal.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996699</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-03-vim_comment.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996597</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-04-VIM_replace_text.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996502</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-04-macOS_diskbuild.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996597</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-05-ssierra_menuicon.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996502</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-07-Ubuntu_predefs.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996401</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-09-MacOS_Sierra_GM_public.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996299</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-09-xforms_library.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996299</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-10-ubuntu_locale.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996299</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-12-geomview_inst1.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996198</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-12-geomview_inst2.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996198</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-12-ubuntu_root_enable.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996103</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-17-homebrew_install.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92996103</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-18-MacOS_x11_fail.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998499</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-19-ubuntu_temporary_failure_resolving.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998397</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-29-movie_sully.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998397</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-09-dropbox_github.md</key>
			<dict>
				<key>lastModification</key>
				<real>497710629.92998302</real>
				<key>version</key>
				<dict>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-17-Ubuntu_disk_format.md</key>
			<dict>
				<key>lastModification</key>
				<real>498388894.96144402</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>4</integer>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2016-10-30-New_MacBookPro.md</key>
			<dict>
				<key>lastModification</key>
				<real>499530957.43786198</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>12</integer>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2016-11-27-crontab.md</key>
			<dict>
				<key>lastModification</key>
				<real>501947576.76428401</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>16</integer>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-01-22-ssh-keychain-assistant.md</key>
			<dict>
				<key>lastModification</key>
				<real>506784482.08134902</real>
				<key>version</key>
				<dict>
					<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
					<integer>20</integer>
					<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>497710344.21373701</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-10-17-Ubuntu_disk_format.md</string>
		</array>
		<array>
			<string>2016-10-30-New_MacBookPro.md</string>
		</array>
		<array>
			<string>2016-11-27-crontab.md</string>
		</array>
		<array>
			<string>2017-01-22-ssh-keychain-assistant.md</string>
		</array>
		<array>
			<string>2012-06-07-removeM.md</string>
		</array>
		<array>
			<string>2016-09-17-homebrew_install.md</string>
		</array>
		<array>
			<string>2016-09-12-ubuntu_root_enable.md</string>
		</array>
		<array>
			<string>2016-09-12-geomview_inst2.md</string>
		</array>
		<array>
			<string>2016-09-12-geomview_inst1.md</string>
		</array>
		<array>
			<string>2016-09-10-ubuntu_locale.md</string>
		</array>
		<array>
			<string>2016-09-09-xforms_library.md</string>
		</array>
		<array>
			<string>2016-09-09-MacOS_Sierra_GM_public.md</string>
		</array>
		<array>
			<string>2016-09-07-Ubuntu_predefs.md</string>
		</array>
		<array>
			<string>2016-09-05-ssierra_menuicon.md</string>
		</array>
		<array>
			<string>2016-09-04-VIM_replace_text.md</string>
		</array>
		<array>
			<string>2016-09-04-macOS_diskbuild.md</string>
		</array>
		<array>
			<string>2016-09-03-vim_comment.md</string>
		</array>
		<array>
			<string>2016-09-01-Mac_terminal.md</string>
		</array>
		<array>
			<string>2016-08-31-Ubuntu_dpkg.md</string>
		</array>
		<array>
			<string>2016-08-30-Font_Linux.md</string>
		</array>
		<array>
			<string>2016-08-03-GCC49-release.md</string>
		</array>
		<array>
			<string>2016-06-20-SFmono-Font.md</string>
		</array>
		<array>
			<string>2016-05-25-hazel.md</string>
		</array>
		<array>
			<string>2016-05-07-gcc-6.1.0.md</string>
		</array>
		<array>
			<string>2016-03-27-archey.md</string>
		</array>
		<array>
			<string>2016-03-13-cif2cell.md</string>
		</array>
		<array>
			<string>2015-12-08-modulefile.md</string>
		</array>
		<array>
			<string>2015-11-29-RSC-Styleguide.md</string>
		</array>
		<array>
			<string>2015-11-05-vim-ctrlCcopy.md</string>
		</array>
		<array>
			<string>2015-11-05-vaspgaussian-atomfix.md</string>
		</array>
		<array>
			<string>2015-11-05-remove_space.md</string>
		</array>
		<array>
			<string>2015-11-05-homebrew-automatic.md</string>
		</array>
		<array>
			<string>2015-11-01-opsnssl-randommacaddress.md</string>
		</array>
		<array>
			<string>2015-11-01-movie-martion.md</string>
		</array>
		<array>
			<string>2015-10-31-Macupdate-terminal.md</string>
		</array>
		<array>
			<string>2015-10-30-Macaddresschange.md</string>
		</array>
		<array>
			<string>2015-10-29-sh-rmoveextension.md</string>
		</array>
		<array>
			<string>2015-10-23-video-clip-sony.md</string>
		</array>
		<array>
			<string>2015-10-21-shell-sed1.md</string>
		</array>
		<array>
			<string>2015-10-21-cmake-install.md</string>
		</array>
		<array>
			<string>2015-10-20-Find-oldfiles.md</string>
		</array>
		<array>
			<string>2015-10-11-nohup.md</string>
		</array>
		<array>
			<string>2015-10-08-terminal-wifi.md</string>
		</array>
		<array>
			<string>2015-09-05-xargs-exec.md</string>
		</array>
		<array>
			<string>2015-09-05-iTerm_Titlebar-Path.md</string>
		</array>
		<array>
			<string>2015-07-10-Rsync_Examples.md</string>
		</array>
		<array>
			<string>2015-07-10-Linux_Zip.md</string>
		</array>
		<array>
			<string>2015-07-02-Termial_Prompt.md</string>
		</array>
		<array>
			<string>2015-06-08-vim_window_split.md</string>
		</array>
		<array>
			<string>2015-05-28-Linux-Epelerror.md</string>
		</array>
		<array>
			<string>2014-05-25-welcome-to-jekyll.md</string>
		</array>
		<array>
			<string>2014-05-25-new1.md</string>
		</array>
		<array>
			<string>2016-10-09-dropbox_github.md</string>
		</array>
		<array>
			<string>2016-09-29-movie_sully.md</string>
		</array>
		<array>
			<string>2016-09-19-ubuntu_temporary_failure_resolving.md</string>
		</array>
		<array>
			<string>2016-09-18-MacOS_x11_fail.md</string>
		</array>
		<array>
			<string>2016-08-31-Ubuntu_PS1.md</string>
		</array>
		<array>
			<string>2015-12-03-gcc_installation.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>93c6e74b49a665086edd1b50f8e56b38a84303e4e3f252cfcca75fc75fcc7854</key>
			<integer>21</integer>
			<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
			<integer>4</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a9f8b98695318a7e8ba7ba746b263c948d50d5805fc87f38f253e01cf499d3e1</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
